form[name="form_sw"], h3 {
    text-align: center;
}
input[name="counter"] {
    width: 70%;
    height: 43px;
    margin-bottom: 19px;
    font-size: 16px;
    padding: 0 3px;
    border: none;
    background-color: #ededed;
}
.button input {
    width: 26%;
    border-color: #fff;
    box-sizing: border-box;
    font-size: 13px;
    height: 39px;
    margin: 0 6px;
}
.button input:hover{
    background-color: #ddd;
}